/* BACKGROUND COLORS */
$background-dark-blue: #1F1E38;
$background-white: #FFFFFF;
$background-green: #ffc318;
$background-chat-icon: #527CEB;

/* BUTTON COLORS */
$button-green: #ffc318;
$button-red: #F81D39;
$button-hover-red: #d10f29;

/* TEXT COLORS */
$text-primary: #FFFFFF;
$text-second: #000000;
$text-dark-p: #888888;
$text-not-hover: #FFFFFFB0;
$text-red: #F81D39;
$text-green: #ffc318;
$text-footer: #787887;